@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
}
